/* h1 {
  color: red;
  background-color: yellow;
} */

/* h1 {
  color: red;
  background-color: rgb(255, 255, 0);
} */

/* h1 {
  color: red;
  background-color: rgba(255, 255, 0, 0.5);
} */

h1 {
  color: red;
  background-color: #ffff00;
}

h4 {
  color: orange;
}

/* img {
  border: 15px solid black;
} */

p {
  color: green;
}

a {
  background-color: hotpink;
}
