@font-face {
  font-family: CadmanRoman;
  src: url(/fonts/cadman/cadman-roman.otf);
}

@font-face {
  font-family: CadmanBold;
  src: url(/fonts/cadman/cadman-bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: CadmanRoman; */
  font-family: "Sofia", cursive;
}

.column {
  background-color: lightblue;
  padding: 30px;
  width: 33.33%;
  float: left;
}

.column p {
  /* font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 900;
  font-variant: normal;
  line-height: 30px;
  font-size: 16px; */
  /* font: italic normal 900 16px/30px "Times New Roman", Times, serif; */
  /* font-family: CadmanBold; */
}
