/* h2 {
  background-color: orange;
}

div p {
  color: orangered;
}

#column2 {
  background-color: orchid;
}

.column3 {
  background-color: green;
}

p.bgcolor {
  background-color: red;
  color: white;
}

.bganchor {
  background-color: indigo;
}
.txtcolor {
  color: white;
} */

/* * {
  color: red;
} */

#column2 h2,
#column2 p,
#column2 a {
  background-color: olive;
}
