* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: black;
}
.header h1 {
  color: white;
  padding: 1rem 0;
  text-align: center;
  font-family: "Lobster", cursive;
}

.banner {
  background-color: lightpink;
  padding: 10rem 0;
  text-align: center;
}
.banner h1 {
  font-family: "Lobster", cursive;
}
.banner p {
  margin: 1rem 0;
}
.banner a {
  background-color: lightcoral;
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
}

.services {
  float: left;
  width: 100%;
  margin: 1rem 0;
}
.services .column {
  float: left;
  width: 25%;
  padding: 0 1rem;
}
.services .column img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.services .column h4 {
  font-family: "Lobster", cursive;
}
.services .column a {
  background-color: lightcoral;
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
}
.services .column button {
  padding: 1rem;
  background-color: lightseagreen;
  border: none;
  color: white;
}

.subscribe {
  background-color: lightblue;
  padding: 5rem 0;
  clear: both;
  text-align: center;
}
.subscribe h1 {
  font-family: "Lobster", cursive;
}
.subscribe p {
  margin: 1rem 0;
}
.subscribe input {
  width: 50%;
  padding: 1rem;
}
.subscribe button {
  padding: 1rem;
  background-color: lightseagreen;
  border: none;
  color: white;
}

.footer {
  background-color: #222;
}
.footer p {
  color: white;
  text-align: center;
  padding: 2rem 0;
}
