:root {
  --headingFont: "Lobster", cursive;
  --anchorBgColor: lightcoral;
  --buttonBgColor: lightseagreen;
  --paragraph: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  --bgColor: lightcoral;
  --text-color: white;
  --underline: none;
  --spacing: 1rem;
  --inlineBlock: inline-block;
}
a {
  background-color: var(--bgColor);
  color: var(--text-color);
  text-decoration: var(--underline);
  padding: var(--spacing);
  display: var(--inlineBlock);
}

.banner a {
  background-color: var(--orange, orange);
}

body {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: black;
}
.header h1 {
  color: white;
  padding: 1rem 0;
  text-align: center;
  font-family: var(--headingFont);
}

.banner {
  background-color: lightpink;
  padding: 10rem 0;
  text-align: center;
}
.banner h1 {
  font-family: var(--headingFont);
}
.banner p {
  margin: 1rem 0;
  color: var(--paragraph);
}
/* .banner a {
  background-color: var(--anchorBgColor);
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
} */

.services {
  float: left;
  width: 100%;
  margin: 1rem 0;
}
.services .column {
  float: left;
  width: 25%;
  padding: 0 1rem;
}
.services .column img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.services .column h4 {
  font-family: var(--headingFont);
}
/* .services .column a {
  background-color: var(--anchorBgColor);
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
} */
.services .column button {
  padding: 1rem;
  background-color: var(--buttonBgColor);
  border: none;
  color: white;
}
.services .column p {
  color: var(--paragraph);
}

.subscribe {
  background-color: lightblue;
  padding: 5rem 0;
  clear: both;
  text-align: center;
}
.subscribe h1 {
  font-family: var(--headingFont);
}
.subscribe p {
  margin: 1rem 0;
  color: var(--paragraph);
}
.subscribe input {
  width: 50%;
  padding: 1rem;
}
.subscribe button {
  padding: 1rem;
  background-color: var(--buttonBgColor);
  border: none;
  color: white;
}

.footer {
  background-color: #222;
}
.footer p {
  color: white;
  text-align: center;
  padding: 2rem 0;
}
