.column {
  width: 1200px;
  height: 600px;
  padding: 30px;
  border: 30px dotted black;

  background-color: orange;
  background-image: url("../images/kishoritutorials.jpg");
  background-repeat: no-repeat;
  /* background-position: top center; */
  /* background-attachment: fixed; */
  /* background-size: 100% 100%; */
  /* background: url("../images/kishoritutorials.jpg") no-repeat top center orange; */
  /* background-origin: padding-box; */
  /* background-clip: padding-box; */
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 150px;
  background-image: url("../images/bg-large2.jpg");
  -webkit-background-clip: text;
  color: transparent;
}
