* {
  margin: 0;
  padding: 0;
}

.column1 {
  background-color: lightblue;
  padding: 30px 30px 30px 30px;
  margin: 30px 30px 10px 30px;
  border: 15px solid red;
  width: 300px;
}
.column2 {
  background-color: lightblue;
  padding: 30px 30px 30px 30px;
  margin: 10px 30px 30px 30px;
  border: 15px solid red;
  width: 300px;
}
