* {
  margin: 0;
  padding: 0;
}
div {
  margin: 0 0 15px 0;
  padding: 10px;
  font-size: 32px;
  background-color: lightblue;
}

.pixel {
  width: 500px;
}

.percent {
  width: 50%;
}

.em {
  width: 50em;
}

.rem {
  width: 50rem;
}
