* {
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: inline-block;
}
.container {
  background-color: lightblue;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}
.container .col {
  padding: 1rem;
  margin: 1rem;
  background-color: lightcoral;
  width: 15%;
}
.container .col:first-child {
  display: flex;
  flex-direction: column;
}
