* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  background-color: lightblue;
  padding: 1rem;
  display: flex;
}
.container .col {
  padding: 1rem;
  margin: 1rem;
  background-color: lightcoral;
}
.container .col h1 {
  font-size: 1.2rem;
}
.container .col:nth-child(1) {
  flex-grow: 1;
}
.container .col:nth-child(2) {
  flex-grow: 2;
}
.container .col:nth-child(3) {
  flex-grow: 3;
}
