* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  background-color: lightblue;
  /* padding: 1rem; */
  display: flex;
  flex-wrap: wrap;
}
.container .col {
  padding: 1rem 0;
  /* margin: 0.1rem; */
  background-color: lightcoral;
  border: 1px solid white;
}
.container .col h1 {
  font-size: 1.2rem;
}
.container .col:nth-child(1) {
  /* flex-grow: 1; */
  /* flex-basis: auto; */
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 400px; */
  /* flex: 1 1 400px; */
  flex: 1;
  /* flex: 1 1 0 */
}
.container .col:nth-child(2) {
  flex: 1;
}
.container .col:nth-child(3) {
  flex: 1;
}
