:root {
  --primary-color: orange;
  --paragraph-color: #777;
}
.btnRed,
.btnBlue,
.btnReset {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  width: 5%;
  cursor: pointer;
}
.btnRed {
  top: 0;
  background-color: red;
}
.btnBlue {
  top: 4rem;
  background-color: blue;
}
.btnReset {
  top: 8rem;
}
body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}
.btn {
  border: none;
  padding: 0.5rem 1rem;
  outline: 0;
  display: inline-block;
  text-decoration: none;
}
.btnPrimary {
  background-color: var(--primary-color);
  color: white;
}
.paragraph {
  color: var(--paragraph-color);
}
.heading {
  font-size: 2rem;
  color: #222;
  font-weight: 400;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

/*owl carousel css*/
.owl-carousel .owl-dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 3rem;
  z-index: 9;
}
.owl-carousel .owl-dots button.owl-dot {
  background: var(--primary-color);
  padding: 0.5rem !important;
  border-radius: 5rem;
  margin-right: 1rem;
}
.owl-carousel .owl-dots button.owl-dot:last-child {
  margin-right: 0;
}
.owl-carousel .owl-dots button.owl-dot.active {
  background: white;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background: var(--primary-color);
  padding: 0.5rem 1rem !important;
  color: white;
  font-size: 2rem;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 9;
}
.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
.owl-carousel .owl-nav button.owl-next {
  right: 0;
}

.owl-carousel .owl-item img {
  display: inline-block;
  width: auto;
}

/*nav css*/
.nav {
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  left: 0;
}
.nav .slide {
  position: fixed;
  background: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  z-index: 2;
  transition: all ease-in-out 0.5s;
}
.nav .navigation {
  list-style-type: none;
}
.nav .navigation li a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #292929;
}
.nav .navigation li.active a {
  background-color: var(--primary-color);
}
.nav .closeBtn {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  z-index: 3;
  border: none;
  padding: 0.5rem;
}
.nav .menuBtn {
  position: absolute;
  background: none;
  top: 0.2rem;
  right: 0.2rem;
  z-index: 1;
  border: 1px solid white;
  color: white;
  padding: 0.5rem;
}

/*header css*/
.header {
  height: 100vh;
}
.slide-1 {
  background: url("../images/slider-1.jpg") no-repeat top center;
  background-size: cover;
}
.slide-2 {
  background: url("../images/slide-2.jpg") no-repeat top center;
  background-size: cover;
}
.slide-3 {
  background: url("../images/slide-3.jpg") no-repeat top center;
  background-size: cover;
}
.slide-4 {
  background: url("../images/slide-4.jpg") no-repeat top center;
  background-size: cover;
}
.header .opacity {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

.header .slide-heading {
  position: absolute;
  width: 100%;
  padding: 0 1rem;
  /* background: olive; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*services css*/
.services {
  /* --colorRed: red; */
  background: url("../images/face-bg.png") no-repeat center center;
}
/* .services h4 {
  color: var(--colorRed);
} */

/*recommended css*/
.recommended {
  background-color: #f9f9f9;
}
.recommended h5 {
  font-size: 1.3rem;
  font-weight: 400;
  /* color: var(--colorRed, blue); */
}

/*testimonials css*/
.testimonials {
  background: url("../images/testimonial-bg.jpg") no-repeat top center;
  background-size: cover;
}
.testimonials .opacity {
  background-color: rgba(0, 0, 0, 0.5);
}
.testimonials .heading,
.testimonials .paragraph,
.testimonials h6 {
  color: white;
}
.testimonials h6 {
  font-size: 1rem;
}
.testimonials .owl-carousel .owl-dots {
  bottom: 0;
}

/* booknow css */
.booknow .dateinput {
  background-color: #f5f5f5;
  color: var(--paragraph-color);
  border: none;
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
}

/*mywork css*/
.mywork {
  background: url("../images/about-bg.jpg") no-repeat top center;
  background-size: cover;
}
.mywork .opacity {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.mywork .heading {
  color: white;
}
.mywork .paragraph {
  color: #eee;
}

/*contactme css*/
.contactme {
  background: url("../images/contact-bg.jpg") no-repeat top center;
  background-size: cover;
}

/*footer css*/
.footer {
  background-color: black;
  position: sticky;
  top: 100%;
}
.footer .heading,
.footer .fa-instagram {
  color: white;
}
.footer .fa-instagram {
  font-size: 1.5rem;
}
.footer .copyRight {
  background-color: var(--primary-color);
  color: white;
}

@media (min-width: 576px) {
  .header .slide-heading {
    width: 80%;
  }
  .booknow .dateinput {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .nav .slide {
    position: static;
    background: none;
    width: 100%;
    height: auto;
    top: unset;
    left: unset;
    z-index: unset;
  }

  .nav .navigation li {
    display: inline-block;
  }
  .nav .navigation li a {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
  }
  .mywork {
    height: 50vh;
  }
  .mywork .opacity {
    position: relative;
  }
  .contactme {
    height: 70vh;
  }
}

@media (min-width: 992px) {
  .btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }
  .header h1 {
    font-size: 3rem;
  }
  .header h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .header .slide-heading {
    width: 50%;
  }
  .header h1 {
    font-size: 4rem;
  }
  .header h3 {
    font-size: 2rem;
  }
  .booknow .dateinput {
    width: 30%;
  }
  .mywork {
    height: 70vh;
  }
}
