@font-face {
  font-family: Rochester;
  src: url(/fonts/Rochester-Regular.ttf);
}
@font-face {
  font-family: Handlee;
  src: url(/fonts/Handlee-Regular.ttf);
}

/*common css*/
body {
  font-family: Handlee;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
.headings {
  color: #e25a9a;
  font-size: calc(1.325rem + 0.9vw);
}
.small-headings {
  color: #222;
}
.paragraph {
  color: #777;
}
.img-fluid {
  max-width: 100%;
}
.btn {
  border: none;
  padding: 1rem;
  display: inline-block;
  background-color: #eee;
  text-decoration: none;
  color: #222;
}
.btnBlue {
  background-color: #00b4c4;
  color: #fff;
}
.btnBlue:hover {
  background-color: #222;
  color: #fff;
}

.owl-carousel .owl-dots {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: -30px;
  z-index: 5;
  transform: translate(-50%, 0);
  text-align: center;
}
.owl-carousel .owl-dots .owl-dot {
  padding: 0.3rem !important;
  margin: 0 0.3rem;
  background-color: white;
  border-radius: 50%;
}
.owl-carousel .owl-dots .owl-dot.active {
  background-color: #00b3c3;
}

/*header section css*/
.dvHeader {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}
.dvHeader .nav {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 9;
  height: 100%;
  background: white;
  transition: all ease-in-out 0.5s;
}
.dvHeader .nav h5 {
  font-size: 1rem;
}
.dvHeader .nav ul {
  list-style: none;
}
.dvHeader .nav ul li {
  margin-bottom: 0.15rem;
}
.dvHeader .nav ul li a {
  padding: 1rem;
  display: block;
  background-color: #ffb46d;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.dvHeader .nav ul li.active a {
  background-color: #00b4c4;
  color: white;
  padding: 1rem 1rem;
}
.dvHeader .triangle {
  position: absolute;
  left: 0;
  bottom: -15px;
  z-index: 2;
  background: url("../images/triangle.png") repeat-x top left;
  padding: 0.5rem;
}

/*slider section css*/
.dvSlider {
  background: url("../images/bg-repeat.png");
}
.dvSlider .owl-carousel img {
  border: 7px solid white;
}
.dvSlider h1 {
  font-family: Rochester;
  color: white;
  text-shadow: 0px 0px 27px #ec4242;
  font-weight: normal;
}

/*dvCakes section css*/
.dvCakes .icon i {
  background-color: green;
  padding: 0.4rem 0.5rem;
  font-size: 1.2rem;
  color: white;
}

/*dvFooter section css*/
.dvFooter {
  background-color: #003544;
}
.dvFooter .paragraph {
  color: white;
}
.dvFooter .footernav ul {
  list-style-type: none;
}
.dvFooter .footernav ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
}
.dvFooter .social span,
.dvFooter .social span a {
  color: white;
}
.dvFooter .copy {
  font-size: 0.75rem;
  color: white;
}
.dvFooter a {
  color: white;
  display: inline-block;
}

/*ABOUTME PAGE - dvWhatICan section css*/
.dvWhatICan .circle {
  background-color: #ffb46d;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .dvHeader .nav ul li {
    display: inline-block;
  }
  .dvHeader .nav ul li a {
    background-color: transparent;
    color: #222;
  }
  .dvSlider h1 {
    font-size: 3rem;
  }
  .dvHeader .nav {
    position: static;
    height: auto;
  }
  .dvHeader .nav ul li.active a {
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
