/* 0 to 576*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.column {
  float: left;
  width: 100%;
  padding: 30px;
}

.bg1 {
  background-color: lightcoral;
}
.bg2 {
  background-color: lightgreen;
}
.bg3 {
  background-color: lightblue;
}

/*576 to 767*/
@media (min-width: 576px) {
  .bg1 {
    background-color: red;
  }
  .column {
    width: 50%;
  }
}

/*768 to 991*/
@media (min-width: 768px) {
  .bg1 {
    background-color: green;
  }
  .column {
    width: 33.33%;
  }
}

/*992 to 1199*/
@media (min-width: 992px) {
  .bg1 {
    background-color: blue;
  }
}

/*1200 to 1399*/
@media (min-width: 1200px) {
  .bg1 {
    background-color: lightseagreen;
  }
}

/*1400 to up*/
@media (min-width: 1400px) {
  .bg1 {
    background-color: purple;
  }
}
