/*common section css*/
body {
  font-family: "Open Sans", sans-serif;
}
ul,
ol {
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}
.float {
  float: left;
  width: 100%;
}
a {
  background-color: #ba732a;
  color: white;
  text-decoration: none;
  padding: 1.5rem;
  display: inline-block;
  font-size: 1.2rem;
}
p {
  color: #777;
}

/*slider section css*/
.slider {
  background: url("../images/slider1.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.slider nav {
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
}
.slider nav ul {
  list-style-type: none;
}
.slider nav ul li {
  display: block;
}
.slider nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  border-bottom: 1px solid #222;
  background-color: transparent;
}
.slider nav ul li.active a {
  background-color: #ba732a;
}
.slider .bars {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  padding: 0.5rem 0.75rem;
  border: none;
}
.slider .closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
}
.slider .sliderTextBox {
  position: absolute;
  z-index: 3;
  width: 100%;
  text-align: center;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider .sliderTextBox h1,
.slider .sliderTextBox .subTitle,
.slider .sliderTextBox p {
  color: white;
}
.slider .sliderTextBox .subTitle {
  font-size: 1.2rem;
}

/*services section css*/
.services {
  padding: 5rem 0;
  text-align: center;
  background: url("../images/face.png") no-repeat center center;
}
.services::after,
.services::before {
  content: "";
  display: block;
  clear: both;
}
.services .col {
  margin-bottom: 3rem;
  float: left;
  padding: 1rem;
}
.services .col:first-child {
  margin-top: 3rem;
}

/*recommended section css*/
.recommended::after,
.recommended::before {
  content: "";
  display: block;
  clear: both;
}
.recommended {
  background-color: #f9f9f9;
  padding: 5rem 0;
  text-align: center;
}
.recommended h5 {
  margin-top: 1rem;
}
.recommended .col {
  margin-bottom: 3rem;
}
.recommended .col:first-child {
  margin-top: 3rem;
}

/*testimonials section css*/
.testimonials::after,
.testimonials::before {
  content: "";
  display: block;
  clear: both;
}
.testimonials {
  background: url("../images/testimonial-bg.jpg") no-repeat top center;
  background-size: cover;
  text-align: center;
}
.testimonials .col:first-child {
  margin-top: 3rem;
}
.testimonials .col {
  margin-bottom: 3rem;
  padding: 1rem;
}
.testimonials h6 {
  margin: 1rem 0 0.5rem 0;
}
.testimonials h6,
.testimonials p,
.testimonials h1 {
  color: white;
}
.testimonials .opacity {
  background-color: rgba(0, 0, 0, 0.7);
  float: left;
  width: 100%;
  padding: 5rem 0;
}

/*booknow section css*/
.booknow::after,
.booknow::before {
  content: "";
  display: block;
  clear: both;
}
.booknow {
  padding: 5rem 0;
  text-align: center;
}
.booknow form input {
  background-color: #f5f5f5;
  padding: 1.5rem 2rem;
  border: none;
  width: 100%;
  margin: 1rem 0;
}
.booknow form button {
  background-color: #ba732a;
  color: white;
  text-decoration: none;
  padding: 1.5rem;
  display: inline-block;
  font-size: 1.2rem;
  border: none;
}

/*footer section css*/
.footer::after,
.footer::before {
  content: "";
  display: block;
  clear: both;
}
.footer {
  background-color: #000;
  padding: 2rem 0 0 0;
}
.footer h2,
.footer .icon i {
  color: white;
}
.footer .col {
  float: left;
  width: 100%;
  margin-bottom: 1rem;
}
.footer .box {
  float: left;
  width: 100%;
}
.footer .box .icon {
  float: left;
  width: 10%;
}
.footer .box p {
  float: left;
  width: 90%;
}
.footer .instagram img {
  float: left;
  margin: 0 0.2rem 0.2rem 0;
}

.footer .copyRight {
  background-color: #ba732a;
  text-align: center;
}
.footer .copyRight p {
  color: white;
  margin-bottom: 0;
  padding: 1rem;
}

/*media queries*/
@media (min-width: 576px) {
  .footer .col:nth-child(2) .box,
  .footer .col:nth-child(5),
  .footer .col:nth-child(6) {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .services .col {
    width: 50%;
  }
  .services .col:first-child {
    margin-top: 0;
  }
  .services .col:nth-child(3),
  .services .col:nth-child(5) {
    clear: both;
  }

  .recommended .col {
    float: left;
    width: 50%;
  }
  .recommended .col:first-child {
    margin-top: 0;
  }

  .testimonials .col {
    float: left;
    width: 50%;
    margin-top: 3rem;
  }

  .booknow form input {
    width: 50%;
  }
  .booknow form button {
    display: block;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .slider .bars,
  .slider .closeBtn {
    display: none;
  }
  .slider nav {
    padding-top: 1rem;
    background-color: rgba(0, 0, 0, 0);
    width: auto;
    height: auto;
    position: static;
    top: unset;
    left: unset;
    z-index: unset;
  }
  .slider nav ul {
    text-align: center;
  }
  .slider nav ul li {
    display: inline-block;
  }
  .slider nav ul li a {
    border-bottom: none;
    padding: 0.2rem 1rem;
    border-radius: 0.3rem;
  }
  .slider .sliderTextBox {
    width: 75%;
  }
  .slider .sliderTextBox h1 {
    font-size: 4rem;
    font-weight: 700;
  }
  .slider .sliderTextBox .subTitle {
    font-size: 2rem;
  }

  .recommended .col {
    width: 33.33%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .services .col {
    width: 33.33%;
  }
  .services .col:nth-child(3),
  .services .col:nth-child(5) {
    clear: none;
  }
  .services .col:nth-child(4) {
    clear: both;
  }
  .recommended .col {
    width: 25%;
  }

  .testimonials {
    background: url("../images/testimonial-bg.jpg") no-repeat center center;
    background-size: cover;
  }

  .booknow form input {
    width: 30%;
  }
  .footer .col {
    width: 33.33%;
    padding: 0 1rem;
  }
  .footer .col:nth-child(2) .box {
    width: 100%;
  }
  .footer .col:nth-child(4) {
    width: 50%;
  }
  .footer .col:nth-child(5),
  .footer .col:nth-child(6) {
    width: 25%;
  }
  .footer .instagram img {
    margin: 0 0.5rem 0.5rem 0;
  }
}
